{{define "title"}}
Dashboard
{{end}}


{{define "body"}}
<nav class="dashboard-nav josefin-sans-regular">
   <div class="logo">Martine's Bar & Grill'</div>
   <div class="profile">John Doe</div>
</nav>
<section class="page josefin-sans-regular">
   <div class="sidebar josefin-sans-regular">
      <ul class="sidebar-list">
         <li class="sidebar-list-item"><a href="/dashboard">Dashboard</a></li>
         <li class="sidebar-list-item"><a href="/dashboard/reservations">Reservations</a></li>
         <li class="sidebar-list-item"><a href="/dashboard/tables">Tables</a></li>
         <li class="sidebar-list-item"><a href="/dashboard/settings">Settings</a></li>
      </ul>
   </div>
   <div class="content josefin-sans-regular">
      {{block "content" .}}{{end}}
   </div>
</section>
{{end}}