*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 30vh;
  padding: 1.2rem;
  position: relative;
  background-color: #132152;
  color: #fff;
}

.form-section {
  padding: 1.2rem;
  position: absolute;
  top: 15vh;
}

.form-header {
  padding-bottom: 0.6rem;
  color: #fff;
}

.form-header h3 {
  line-height: 1.2rem;
  margin-bottom: 0.4rem;
}

.request-form {
  padding-top: 1.6rem;
}

.form-group-title {
  margin-bottom: 0.4rem;
  margin-top: 0.6rem;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 0.2rem;
}

.form-row .form-control {
  width: 50%;
}

.form-control input {
  width: 100%;
  padding: 0.4rem;
}

.form-group-content {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.form-action {
  margin-top: 0.6rem;
}

.form-action input {
  cursor: pointer;
}
